/* font-family: 'Hind', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */


:root {
    --blue: #0F4C75;
    --blueTransparent: #0f4c7575;
    --blueLight: 3282B8;
    --blueExtraLight: #BBE1FA;
    --light: #ffffff;
    --dark: #1B262C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


body {
    /* background-color: #202B3D; */
    height: 100vh;
    width: 100%;
    
}

.bg{
 
}

.backgrounddrop{
    position: absolute;
    z-index: -1;
}

